@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-themeBlue: #6C63FF;
    --color-themeWhite: #F7F7F7;
    --color-themeBlack: #252525;
}

html,
body {
    @apply bg-white dark:bg-themeBlack text-black dark:text-themeWhite transition-colors duration-300;
    height: 100%;
    margin: 0;
    padding: 0;
}